name: Docker Image Build and Run

on:
  push:
    branches: [ master, dev*, experimental, test* ]
  pull_request:
    branches: [ master, dev*, experimental, test* ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        chmod a+w output/
        ls -alth
        ./build.sh
    - name: Info on Docker images
      run: |
        docker -v
        docker images
    - name: Run the Docker image with the falling cube
      run: |
        ./run.sh -d 20 -c demo1
    - name: Run the Docker image with a worm
      run: |
        ./stop.sh
        ./run.sh
    - name: Info on generated files
      run: |
        ls -alth
        ls -alth output
        ls -alth output/*

        more output/*/report.json 
