name: Docker Image Test - quick

on:
  push:
    branches: [ master, dev* ]
  pull_request:
    branches: [ master, dev* ]

jobs:

  build:

    runs-on: [ ubuntu-18.04, ubuntu-20.04, ubuntu-22.04 ]
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        chmod a+w output/
        ls -alt
        ./build.sh
    - name: Info on Docker images
      run: |
        docker -v
        docker images
    - name: Run the Docker image
      run: |
        ./run-quick.sh
    - name: Info on generated files
      run: |
        ls -alt
        ls -alt output
        ls -alt output/*
